/* Define o estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 100vh; /* Garante que a altura mínima da página seja a altura da viewport */
}

/* Estiliza o topo (header) */
header {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    
}

/* Estiliza o título principal no topo */
header h1 {
    margin: 0;
}

/* Estiliza o conteúdo principal (main) */
main {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Ajusta a largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo */
}

/* Estiliza o formulário */
form {
    margin: 0 auto;
    padding: 20px;
}

/* Estiliza os rótulos dos campos do formulário */
label {
    font-weight: bold;
}

/* Estiliza os campos de entrada de dados */
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border
